<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!--H-ui图标-->
    <link rel="stylesheet" href="/public/static/admin/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="/public/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css"/>

    <!--头部-->
    <link rel="stylesheet" href="/public/static/start/css/uicn.v1.css">
    <link rel="stylesheet" href="/public/static/start/css/header.v1.css">
    <link rel="stylesheet" href="/public/static/start/css/footer.v1.css">

    <link rel="stylesheet" href="/public/static/start/css/user/user.min.css">
    <link rel="stylesheet" href="/public/static/start/css/user/security.min.css">
    <link rel="stylesheet" href="/public/static/start/css/zhuce.css">


    <script type="text/javascript" src="/public/static/public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/public/static/public/js/js_msg.js"></script>
    <script type="text/javascript" src="/public/static/admin/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/public/static/public/layer_pc/layer.js"></script>
    <script type="text/javascript" src="/public/static/start/js/header.v1.js"></script>

