<nav class="leftnav" id="leftNav">
    <ul>
        <li><a href="<?php echo url('start/user/index');?>" <?php if(A_NAME=='index'){?>class="active"<?php }?> >个人资料</a></li>
        <li>
            <a href="" class="">认证学员</a>
            <i class="nopro-icon"></i>
            <span></span>
        </li>
        <li><a href="" class="">我的VIP</a></li>
        <li><a href="" class="">我的极客币</a></li>
        <li><a href="" class="">我的订单</a></li>
        <li><a href="<?php echo url('start/user/security');?>" <?php if(A_NAME=='security'){?>class="active"<?php }?> >账号安全</a></li>
        <li><a href="" class="">消息设置</a></li>
        <li><a href="<?php echo url('start/user/bind_account');?>" class="">绑定第三方账号</a></li>
    </ul>
</nav>